<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta charset="utf-8">
        <meta name="author" content="Olaf Dietsche">
        <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png" type="image/png"/>
        <link rel="canonical" href="{{ site.url }}{{ page.url | remove: 'index.html' | remove: '.html' }}"/>
        <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css"/>
        {% if page.css %}
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/{{ page.css }}.css" />
        {% endif %}
        {% if page.style %}
        <style type="text/css">
            {{ page.style }}
        </style>
        {% endif %}
    </head>
    <body>
        <div id="container">
            <div id="header-wrapper">
                <div id="header">
                    {% include header.html %}
                </div>
            </div>
            <div id="main-wrapper" class="clearfix">
                <div id="main">
                    <div id="content" class="column">
                        {{ content }}
                    </div>
                    <div id="sidebar" class="column">
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
            <div id="footer-wrapper">
                <div id="footer">
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
