---
layout: default
---
<h1 class="page-title">Monthly archive {{ page.date | date: '%Y-%m' }}</h1>
<ul class="archive">
    {% for post in page.posts %}
    <li class="post">
        <h2 class="page-title"><a href="{{ site.url }}{{ post.url | remove: '.html' }}">{{ post.title }}</a></h2>
        <div class="meta">Submitted by {{ site.author }} on {{ post.date | date: "%Y-%m-%d" }}</div>
        {{ post.excerpt }}
        <div class="meta">Tags:
            {% for tag in post.tags %}
            <a href="{{ site.url }}/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="link-wrapper"><a class="links" href="{{ site.url }}{{ post.url | remove: '.html' }}" title="{{ post.title }}">Read more</a></div>
    </li>
    {% endfor %}
</ul>
